

<div>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets\amd_103299.png"
  />
  <span style="font-size: medium;">AMD</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div style="margin:220px 0px 0px 350px;">
  
  <div >
   <form >
    <div class="row" style = "margin:0px 0px 30px 0px;">
     <b style="font-size: medium;"><img
      width="40"
      alt="Angular Logo"
      src="assets\amd_103299.png"
    />&nbsp; Enter your details below</b>
    </div>
  <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" style="width: 350px;">
          <mat-label>Name</mat-label>
          <input class="align" matInput placeholder="Enter your name" [(ngModel)]="name" name="Name"  required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-4" >
        <mat-form-field appearance="outline" style="width: 350px;">
          <mat-label>Email ID</mat-label>
          <input [(ngModel)] = "email" class="form-control align" matInput  placeholder="Enter your valid email id "  name="email" [formControl]="Email"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  required >
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="Email.hasError('required')">Email is required</mat-error>
										<mat-error *ngIf="Email.hasError('email')">Please enter a valid email address
										</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-8">
        <mat-form-field appearance="outline" style="width: 730px;height: 70px;">
          <mat-label>Address</mat-label>
          <input [(ngModel)] = "address" class="align1" matInput placeholder="Enter your complete address" name="Address" required>
          <mat-icon matSuffix> edit</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4">
        <mat-form-field appearance="outline" style="width: 350px; height: 70px;">
          <mat-label>Mobile.no</mat-label>
          <input type="number"  [(ngModel)] = "mobileNumber" class="align" matInput placeholder="Enter your valid mobile number" formControlName="mobileNumber" name="mobileno" [formControl]="Mobileno"
          maxlength="10" required >
          <mat-icon matSuffix> call</mat-icon>
         
        </mat-form-field>
      </div>
      <div class="col-md-6" >
        <mat-form-field appearance="outline" style="width: 350px;height: 80px;"  required>
          <mat-label>Gender</mat-label>
          <mat-select [(value)]="gender" >
            <mat-option *ngFor="let item of items" [value]="item.value">{{item.gender}}</mat-option>
           
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="card-container" >

      <button class="card card-small" style="background-color: rgb(48, 108, 219);margin: 0px 0px 100px 150px;" (click)="addDetails()" >
        <svg class="material-icons"  width="12" height="24" ></svg>
       <b style="color: aliceblue;margin-right:15px ;" > SUBMIT</b>
      </button>
    </div>
    </form>
    
  </div>
</div>


  <input type="hidden" #selection>

  

  

            
                <div class="card-body" style="margin-bottom: 1 500px;">
                  <div class="card" style="width: 1420px;background-color: rgb(40, 77, 118);">
                    <div class="card-body" class="text-center" >
                     <b style="color: aliceblue;">AMD - USERS DETAILS</b>
                    </div>
                  </div>
                  <div class="table-responsive mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" style="width: 100%;">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="mobileno">
                      <th mat-header-cell *matHeaderCellDef> MobileNumber </th>
                      <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                      <th mat-header-cell *matHeaderCellDef> Gender </th>
                      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element"> <button class="btn btn-danger btn-sm" (click)="edit(element)">edit</button> </td>
                    </ng-container>
                  
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                </div>
              </div>
           

</div>


<router-outlet></router-outlet>
